{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<p>
    {% if is_working_day %}
    {{ today | format_date(locale='fr') }} est un jour ouvré
    {% else %}
    {{ today | format_date(locale='fr') }} est le weekend
    {% endif %}
</p>
{% endblock %}
